
p{
    color:blue;
}
h1{
    font-style: oblique;
    color: crimson;
}
h3{
    font-style: italic;
    color:greenyellow;
}
.fc{
    color: blueviolet;
}
.sc{
    color: red;
}
.tc{
    color: brown;
}
li{
    color: green;
}